main {
  margin-top: 100px;
  /* Espacio para el encabezado fijo */
  padding: 20px;
}
main .featured-post {
  background-color: #94d2bd;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
main .featured-post h2 {
  font-size: 2rem;
  margin-bottom: 15px;
  color: #005f73;
}
main .featured-post img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}
main .featured-post p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #005f73;
}
main .other-posts h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #0a9396;
}
main .other-posts .post {
  background-color: #f7f7f7;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
main .other-posts .post h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #005f73;
}
main .other-posts .post p {
  font-size: 1rem;
  color: #005f73;
}
main .other-posts .post:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}
